body{
    background:linear-gradient(#101020,#201020);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: block;
}
header{
    position: relative;
    top: 0;
    left: 0;
    width:100%;
    height: 6vh;
    border-bottom: 2px solid #d7ddff;
    z-index: 100;
}
header h1{
    color:#d7ddff;
    padding: 10px;
    margin: 0;
    background: rgba(0,0,0,0);
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    
}
#result,#moto{
    width: 49%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid #d7ddff;
}
#moto h2 ,#result h2{
    color:#d7ddff;
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
    justify-content: center;
}

#box {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 90vh;
    margin-top: 2vh;
    width: 100%;
    box-sizing: border-box;
    border-radius: 25px;
    border: 2px solid #d7ddff;
    position: relative;
    padding: 20px;
}